@use "bootstrap/scss/bootstrap" as * with (
  $info: #5c728f
);

@use "includes/components/table";
@use "includes/components/jumbotron";
@use "includes/components/challenge";
@use "includes/components/sticky-footer";
@use "includes/components/graphs";

@use "includes/utils/fonts";
@use "includes/utils/opacity";
@use "includes/utils/min-height";
@use "includes/utils/cursors";
@use "includes/utils/lolight";

@use "includes/icons/award-icons";
@use "includes/icons/flag-icons";

h1,
h2 {
  font-weight: 500;
  letter-spacing: 2px;
}

a {
  color: #000 !important;
  text-decoration: none !important;
}

a:hover {
  color: #f275a1 !important;
  text-decoration: none !important;
}

blockquote {
  border-left: 4px solid $secondary;
  padding-left: 15px;
}

input,
select {
  padding: 0.6rem !important;
  height: auto !important;
}

.fa-spin.spinner {
  text-align: center;
  opacity: 0.5;
}

.badge-notification {
  vertical-align: top;
  margin-left: -1.5em;
  font-size: 50%;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
  background-size: 8px 10px;
}

// hehe

body {
  background-image: url("/themes/findit/static/img/background.png");
  background-color: #171323;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: #171323 !important;
}

.btn-primary {
  background-color: #f275a1 !important;
  border-color: #fff !important;
  color: #fff !important;
}

.btn-primary:hover {
  background-color: #284972 !important;
  border-color: #fff !important;
  color: #fff !important;
}

.form-label {
  color: #fff !important;
}
.form-text {
  color: #9e9e9e !important;
}

.text-white {
  color: #fff !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #f275a1 !important;
  color: #fff !important;
}
.nav-pills .nav-link {
  color: #fff !important;
}

.challenge-submit {
  background-color: #f275a1 !important;
  border-color: #fff !important;
  color: #fff !important;
}
.challenge-submit:hover {
  background-color: #284972 !important;
  border-color: #fff !important;
  color: #fff !important;
}

.challenge-solves {
  color: #f275a1 !important;
}
.challenge-solves.active {
  color: #000 !important;
}
.findit-challenge-detail {
  color: #f275a1 !important;
}
.findit-challenge-detail.active {
  color: #000 !important;
}

.category-header h3 {
  color: #fff !important;
}

.challenge-button:not(.challenge-solved) {
  background-color: #171323 !important;
  border-color: #fff !important;
  color: #fff !important;
}

.challenge-button {
  background-color: #60ca97 !important;
  border-color: #fff !important;
  color: #fff !important;
}

.progress-bar {
  color: white !important;
}

.navbar-nav .nav-link {
  color: #fff !important;
}
.navbar-nav .nav-link:hover {
  color: #f275a1 !important;
}

.findit-forgot-password {
  color: #fff !important;
}
.findit-forgot-password:hover {
  color: #f275a1 !important;
}

.badge.bg-secondary {
  background-color: #f275a1 !important;
}