@use "~/@fontsource/lato/scss/mixins" as Lato;
@use "~/@fontsource/raleway/scss/mixins" as Raleway;

// Include both normal and bold weights
@include Lato.fontFace($fontDir: "../webfonts", $weight: 400);
@include Lato.fontFace($fontDir: "../webfonts", $weight: 700);

@include Raleway.fontFace($fontDir: "../webfonts");

$fa-font-path: "../webfonts";
@import "~/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~/@fortawesome/fontawesome-free/scss/solid.scss";
@import "~/@fortawesome/fontawesome-free/scss/brands.scss";

@font-face {
  font-family: "Montserrat";
  src: url("/themes/custom-theme/static/font/Montserrat-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jakarta";
  src: url("/themes/custom-theme/static/font/PlusJakartaSans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pulsar";
  src: url("/themes/custom-theme/static/font/Pulsar-Original.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
html,
body,
.container {
  font-family: "Jakarta";
}

.jumbotron .container {
  font-family: "Montserrat";
}
