/* Graph styles
-------------------------------------------------- */

#score-graph {
  min-height: 400px;
  background-color: rgba(255, 204, 247, 0.7); // Adjusted to use rgba for opacity
  padding: 1rem 0 1rem 1rem;
  border-radius: 0.375rem;
}

#solves-graph {
  display: block;
  height: 350px;
}

#keys-pie-graph {
  min-height: 400px;
  display: block;
}

#categories-pie-graph {
  min-height: 400px;
  display: block;
}
