/* Jumbotron styles
-------------------------------------------------- */

// Move down content because we have a fixed navbar that is 3.5rem tall
main {
  padding-top: 3.5rem;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.3) !important;

  background-color: #577BC1;
  color: #ffc400;
  backdrop-filter: blur(10px); // Add blur effect to background
  -webkit-backdrop-filter: blur(10px); // Safari support
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}
